.SortPosts{
    width:100%;
    background: white;
    display: flex;
    margin: 5px 0 15px 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.SortPosts__sort-type{
    margin:0 0 0 10px;
    cursor:pointer;
}

.SortPosts__input{
    display:none;
}
.SortPosts__input:checked + span{
    color:#0086b5
}
